{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title%}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/simple-sidebar.css'%}">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        {% block librerias %}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        <section>
            <div class="d-flex" id="wrapper">            
                {% include 'sidebar.html' %}
                <div id="page-content-wrapper">                    
                    {% block content %}
                        
                    {% endblock %}
                </div>
            </div>
            {% include 'modales/editusuario.html' %}
            {% include 'modales/miperfil.html' %}
            {% if user.is_staff %}
                {% include 'modales/addusuarios.html' %}
            {% endif %}
        </section>
        {% include 'footer.html' %}
        <script src="{% static 'js/funciones.js' %}"></script>
        <script>
            {% if user.is_staff %}
            $("#addUsuarios").on('click',(e) =>{
                $.ajax({
                    method:"POST",
                    url:"/addusuarios",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data:"nickname="+$('#id_username').val()+"&correo="+$('#correo').val()+"&permisos="+$('#permisos').val(),
                    success:function(r){
                        Swal.fire({
                            icon: r.resultado,
                            title: r.text,
                        })
                    }
                });
            });
            {% endif %}
            $('#editUsuario').on('click',()=>{
                $.ajax({
                    method:"POST",
                    url:"/editusuarios",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data:"username={{ user.username }}"+
                        "&nombre="+$('#nombre_E').val()+
                        "&apellidos="+$('#app_E').val()+
                        "&correo="+$('#correo_E').val()+
                        "&permisos="+$('#permisos_E').val(),
                    success:function(r){
                        Swal.fire({
                            icon: r.resultado,
                            title: r.text,
                        })
                    }
                });
            })

            $('#updatePass').on('click',()=>{
                let pass=$('#password').val()
                let passconf=$('#passwordconf').val()
                if (pass==passconf){
                    $.ajax({
                        method:"POST",
                        url:"/passupd",
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        data:"username={{ user.username }}"+
                            "&pass="+pass,
                        success:function(r){
                            Swal.fire({
                                icon: r.resultado,
                                title: r.text,
                            }).then((result)=>{
                                $(location).attr('href',"/logout");
                            })
                        }
                    });
                }else{
                    Swal.fire({
                        icon: 'warning',
                        title: 'Contraseñas no coinciden',
                    })        
                }   
            })
        </script>
    </body>
</html>
