{% extends "plantilla.html" %}
{% load static %}

{% block librerias %}
<link rel="stylesheet" href="{% static 'css/morris.css' %}">
<script>
    const estacion={{ id }};
    var token = '{{csrf_token}}';
</script>
<script src="{% static 'js/raphael.min.js' %}"></script>
<script src="{% static 'js/graficas.js' %}"></script>

{% endblock %}
{% block title%}
    {{ nombre }}
{% endblock %}
{% block content %}
<div class="content">
    <div class="row text-center">
        <div class="col-md-6">
            <div class="card-body">
                    <p class="card-title">Informacion del servicio</p>
                    <div class="card-text" id="informacion"></div>
                    <!-- <p>Informacion de la Estacion</p>
                    <div class="card-text">
                        <p>Camara 1: {{ ipcamara1 }}</p>
                        <p>Camara 2: {{ ipcamara2 }}</p>
                    </div> -->
                </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <p class="card-title">Informacion de la estacion</p>
                <div class="card-text" id="informacion_Estacion"></div>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="card-body">
                <p class="card-title">Flujo de trenes</p>
                <div class="card-text" id="Trenes"></div>
            </div>
        </div> -->
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <div class="card-body">
                <h4 class="card-title">Flujo de Usuarios</h4>
                <div class="card-text" id="FlujoDeUsuarios"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}