{% extends "plantilla.html" %}
{% block content %}
<div class="content">
    <div class="row align-items-center" style="padding-bottom: 2%;">
        <div class="col">
            <button type="button" class="btn btn-primary" id="agrUsuarios">
                Agregar usuarios
            </button>
        </div>
    </div>
    <div class="row">
        {% for list in listaUsuarios %}
            <div class="col-sm-6 my-2">
                <div class="card" >
                    <div class="card-header">
                        {{ list.username }}
                    </div>
                {% if list.is_active %}
                    <div class="card-body" style="background-color: #f48405">
                {% else%}
                    <div class="card-body" style="background-color: #b1661b;">
                {% endif%}
                        
                        {% if list.first_name %}
                            <p class="card-text">{{ list.first_name }} {{ list.last_name }}</p>
                        {% else %}
                            <p class="card-text">XXXXXXX XXXXXX</p>
                        {% endif %}
                        <p class="card-text">{{ list.email }}</p>
                        {% if list.is_superuser %}
                            <p>Permisos:Root</p>
                        {% elif list.is_staff %}
                            <p>Permisos: Administrador</p>
                        {% else %}
                            <p>Permisos: Normal</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}