{% extends "plantilla.html" %}
{% block content %}
<div class="content">
        <div class="row align-items-center" style="padding-bottom: 2%;">
            <div class="col">
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#newUsuarios">
                    Agregar usuarios
                </button>
            </div>
        </div>
        <table class="table" style="width: 100%;text-align: center;background-color: black;color:white">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Area</th>
                    <th>Privilegios</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
</div>
{% include 'modales/addusuarios.html' %}
{% endblock %}