<div class="modal fade" id="newUsuarios" tabindex="-1" role="dialog" aria-labelledby="newUsuariosTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #333333;color: #ffffff;">
          <h5 class="modal-title" id="newUsuariosLongTitle">Agregar Usuarios</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" id="agregarUsuarios">
            <div class="modal-body">
                <div class="row">
                    {% csrf_token %}
                    <div class="col-2"></div>
                    <div class="col-3" style="text-align: right;">
                        <label for="username">Usuario:</label>
                    </div>
                    <div class="col-5" style="text-align: center;">
                        <input type="text" name="nickname" id="id_username" required autofocus maxlength="150">
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3" style="text-align: right;">
                        <label for="password1">Correo:</label>
                    </div>
                    <div class="col-5">
                        <input type="email" name="correo" required id="correo" aria-autocomplete="list">
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3" style="text-align: right;">
                        <label for="password1">Permisos:</label>
                    </div>
                    <div class="col-5">
                        <select name="permisos" id="permisos">
                            <option value="1">Administrador</option>
                            <option value="2">Personal</option>
                        </select>
                    </div>
                    <div class="col-2"></div>
                </div>
                
            </div>
            <div class="modal-footer" style="background-color: #333333;color: #ffffff;">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="addUsuarios" value="Agregar">Agregar</button>
            </div>
        </form>
      </div>
    </div>
</div>