<div class="modal fade" id="editUsuarios" tabindex="-1" role="dialog" aria-labelledby="editUsuariosTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #333333;color: #ffffff;">
          <h5 class="modal-title" id="editUsuariosLongTitle">Editar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" id="usuario_edit">
            {% csrf_token %}
            <input type="hidden" name="usuario_E" id="usuario_E" value="{{ user.id }}">
            <div class="modal-body" style="align-items: center;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-1"></div>
                        <div class="col-5" style="text-align: center;">
                            <label for="">Nombre(s)</label>
                        </div>
                        <div class="col-5" style="text-align: left;">
                            <input type="text" name="nombre_E" id="nombre_E" value="{{ user.first_name }}">
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-1"></div>
                        <div class="col-5" style="text-align: center;">
                            <label for="">Apellidos</label>
                        </div>
                        <div class="col-5" style="text-align: left;">
                            <input type="text" name="app_E" id="app_E" value="{{ user.last_name }}">
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-1"></div>
                        <div class="col-5" style="text-align: center;">
                            <label for="">Correo</label>
                        </div>
                        <div class="col-5" style="text-align: left;">
                            <input type="email" name="correo_E" id="correo_E" value="{{ user.email }}">
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-1"></div>
                        <div class="col-5" style="text-align: center;">
                            <label for="">Permisos</label>
                        </div>
                        <div class="col-5" style="text-align: left;">
                            <select name="permisos_E" id="permisos_E">
                                {% if user.is_staff %}
                                    <option value="1" selected>Administrador</option>
                                    <option value="0">Personal</option>
                                {% else%}
                                    <option value="0">Personal</option>
                                {% endif %}                            
                            </select>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #333333;color: #ffffff;">
                <button class="btn btn-light" data-toggle="modal" data-target="#userPerfil" data-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="editUsuario">Actualizar</button>
            </div>
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="changepass" tabindex="-1" role="dialog" aria-labelledby="editUsuariosTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #333333;color: #ffffff;">
                <h5 class="modal-title" id="editPassLongTitle">Cambiar contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="align-items: center;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-1"></div>
                        <div class="col-5" style="text-align: center;">
                            <label for="">Nueva contraseña</label>
                        </div>
                        <div class="col-5" style="text-align: left;">
                            <input type="password" name="password" id="password">
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-1"></div>
                        <div class="col-5" style="text-align: center;">
                            <label for="">Confirmar</label>
                        </div>
                        <div class="col-5" style="text-align: left;">
                            <input type="password" name="passwordconf" id="passwordconf">
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #333333;color: #ffffff;">
                <button class="btn btn-light" data-toggle="modal" data-target="#userPerfil" data-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="updatePass">Actualizar</button>
            </div>
        </div>
    </div>
</div>